.container {
    margin-top: 10%;
    width: 100%;
}

button {
    width: 450px;
    height: 70px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
   
}
.info {
    display: inline-block;
    width: 50px;
    
}

.show {
    float: right;
    text-align: center;
}

#day, #day_h {
    background-color: coral;
}

#mois, #mois_h {
    background-color: turquoise;
}

#nvr , #nvr_h {
    background-color: cadetblue;
}

#day_ed2, #day_ed4, #day_ed6 {
    background-color: burlywood;
}

span {
    font-size: 30px;
}